@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

:root {
    --cor-principal: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #03ff03;
    --cor-hover: #272727

    --fonte-secundaria:'Montserrat', sans-serif;
    --fonte-principal:'Krona One', sans-serif;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria); 
}

.cabecalho {
    padding: 2% 0 0 15% ;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding:5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    display: flex;
    flex-flow: row wrap;
    
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);   
}

.apresentacao__conteudo__texto {  
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria); 
}

.iluminaria {
    background: url("assets/dia-do-decorador-02.jpg");
    width: 225%;  
 }

 .imagem__grande {
    width: 155vh;
 }
 
 .rodape {   
     padding: 24px;
     color: var(--cor-principal);
     background-color: var(--cor-terciaria);
     text-align: center;
     font-family: var(--fonte-secundaria);
     font-size: 1.5rem;
     font-weight: 400;
     
 }
